{% extends "templates/logado.twig" %}

{% block content %}
<h1>{{ title }}</h1>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">
                <button type="button"
                    class="btn btn-sm btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#formUsuarios"
                    data-bs-type="create"
                >
                    Novo Usuario
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <button type="button"
                    class="btn btn-sm btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#formUsuarios"
                    data-bs-type="edit"
                    data-bs-id="{{ usuario.id }}"
                >
                    Editar
                </button>

                <button type="button"
                    class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteUsuarios"
                    data-bs-id="{{ usuario.id }}"
                >
                    Excluir
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>






  <div class="modal fade" id="formUsuarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="formUsuariosLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="formUsuariosLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-center d-none" id="formUsuariosSpinner">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteUsuarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUsuariosLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" >Confirmar exclusao do usuario?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <form action="?page=delete" id="deleteUsuarioForm">
                <input type="hidden" id="deleteUsuarioId" value="" />
                <button type="submit" class="btn btn-danger">Confirmar Exclusao</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </form>
        </div>
      </div>
    </div>
  </div>




<script>
    function deleteItem(id) {
        if (confirm("Deseja realmente apagar o usuario?")) {
            window.location.href = "?page=delete&id=" + id;
        }
    }



    const deleteUsuarios = document.getElementById('deleteUsuarios')
    if (deleteUsuarios) {
        deleteUsuarios.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const id = button.getAttribute('data-bs-id')
            $('#deleteUsuarioId').val(id)
            deleteForm()
        });
    }

    function deleteForm(){
        $('#deleteUsuarioForm').on('submit', function(ev){
            ev.preventDefault();
    
            $.ajax({
                url: "?page=delete&id=" + $('#deleteUsuarioId').val(),
                dataType: "json",
            }).done(function(data) {
                alert(data.message)
                //location.reload()
            });
        })
    }

    const formUsuarios = document.getElementById('formUsuarios')
    if (formUsuarios) {
        formUsuarios.addEventListener('show.bs.modal', event => {
            $('#formUsuariosSpinner').removeClass('d-none');
            $('#formUsuarios .modal-body').html('');
            
            const button = event.relatedTarget
            const type = button.getAttribute('data-bs-type')
            const id = button.getAttribute('data-bs-id')

            if (type == 'create') {
                $('#formUsuariosLabel').text('Criar Usuario');
            } else {
                $('#formUsuariosLabel').text('Alterar Usuario');
            }

            ////////////////////////////
            
            $.ajax({
                url: "?page=" + type,
                data: { id }
            }).done(function(data) {
                $('#formUsuarios .modal-body').html(data);
                $('#formUsuariosSpinner').addClass('d-none');
                enviaForm();
            });
        })
    }

    function enviaForm() {
        $('#formUsuario').on('submit', function(ev){
            ev.preventDefault();
            let errorMessages = $('#errorMessages');
            errorMessages.html('');
            $('#formUsuariosSpinner').removeClass('d-none');
            $('#formUsuario').slideUp();

            $.ajax({
                url: "?page=store",
                data: $(this).serialize(),
                dataType: "json",
            }).done(function(data) {
                if (data.success) {
                    $('#formUsuarios').modal('hide');
                    alert(data.message)
                    location.reload()
                } else {
                    errorMessages.html('<li>' + data.message + '</li>');
                }
                $('#formUsuariosSpinner').addClass('d-none');
                $('#formUsuario').slideDown();
            });
        })
    }

</script>
{% endblock %}